// animation for the sky
@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: -1920px;
    }
}
// animation for the dogs
@keyframes flow{
    0%{
        left: 0;
    }
    25%{
        left: -125%;
    }
    50%{
        left: -250%;
    }
    75%{
        left: -375%;
    }

}
// animation for menu slide in.
@keyframes slideInFromBottom {
    0% {
      transform: translateY(80vh);
      
    }
    50%{
        transform: translateY(75);
    }
    100%{
      transform: translateY(0);
    }
  }

  // animation for slide left and right
@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideInFromLeft 0.5s ease-in-out;
  }
  
  .slide-in-right {
    animation: slideInFromRight 0.5s ease-in-out;
  }
  
  @keyframes slideInFromTop {
    from{
      opacity: 0;
      transform: translateY(-100%);
    }
    50%{
      opacity: 0;
    }
    to{
      transform: translateY(0);
    }
  }

  