
.mobile-projects{
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    height: auto;
    position: relative;
}
.mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    padding: 10px;

}


// 
.card, .card-2{
    position: relative;
    z-index:32;
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.card:hover{
    height: 600px;

}
.logoBox{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.logoBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .prj-content{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    flex-direction: column;
}
.card .prj-content .prj-image{
    transform: translateY(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        transition: 0.5s;
        width: 80%;
    }
}

.card .prj-content .prj-details{
    padding: 40px;
    text-align: center;
    
    transition: 0.5s;
    transform: translateY(40px);


}

.card .prj-content .prj-details h2 span{
    font-size:0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.card .prj-content .prj-details .kitsData{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card .prj-content .prj-details .kitsData h3{
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .prj-content .prj-details .actionBtn{
    display: flex;
    justify-content: space-between;
}

.card .prj-content .prj-details .actionBtn button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5f95;
    color: #fff;
    cursor: pointer;
}
.card .prj-content .prj-details .actionBtn button:nth-child(2){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}
.card-2{
    height: 50px;
    background:#fdfdfde1;
    overflow: hidden;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;

    
}
.card-2 .prj-description,
.prj-highlights,
.prj-insights{
    padding: 40px;
}
.card-2 span{
    font-size:1em;
    font-weight: 500;
    opacity: 0.5;

}
.down-arrow{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -250px;
    transform: translateY(50%);
    
    
    
    img{
        width: 200px;
        z-index: 1;
        
    }
}
@media screen and (max-width:1020px ){
    .card:hover .prj-content .prj-image{
        transform: translateY(50px);
        img{
        width: 130%;
        
        }
        
    }
    .card:hover .prj-content .prj-details{
        transform: translateY(0px);
    }
.cover-container:hover .card-2{
    height:max-content;
    
    .prj-highlights{
        transform: translateY(-20%);
    }
    .prj-insights{
        transform: translateY(-40%);
    }
    .bottom-image{
        transform: translateY(0);
    }
    .year span{
        transform: translateY(-30px);
    }
}
}
.card-2 .bottom-image{
    position: absolute;
    bottom: 0;
    transform: translateY(200px);
    width: 100px;
    padding: 20px;
}

.card-2 .year span{
        position: absolute;
        bottom: 0;
        right: 5%;
        text-align: end;
        font-family: verdana;
        padding: 10px;
        font-size: 33px;
        color: rgba(238, 104, 104, 0.471);
        text-shadow: rgb(0, 0, 0) -2px 14px 8px;
    
}
@media screen and (min-width:1020px ) {
    .prj-addons,
    .card-2{
        width: unset;
        height: 600px;
        overflow: auto;
        max-width: 800px;
        scrollbar-width: none;
        
    }
    .bottom-image{
        visibility: hidden;
    }
    .cover-container{
        display: flex;
        
    }
    .card-2{
        
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0%;
        transition: 0.5s;
        
    }
    .card .prj-content .prj-image{
        transform: translateY(40px);
    }
    .card .prj-content .prj-details{
        transform: translateY(0);
    }
    .card:hover .prj-content .prj-image{
        
        img{
        width: 130%;
        
        }
        
    }
    .card-2:hover{
        background: rgba(238, 204, 204, 0.882);
    }
    .card{
        min-width:350px ;
        height: 600px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
    .card-2 .prj-description, .prj-highlights, .prj-insights{
        padding: 40px;
    }

    .card-2 .year span{
        bottom: unset;
    }
    
}