.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.about-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.initial-content{
    height: 60vh;
}
.status-component{
    display: none;
    overflow: auto;
    width: 100%;
    position: relative;
    height: 70vh;
}

.inside-content{
    height: 65vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.show-component{
    height: 65vh;
}
.bottom-nav{
    height: 5vh;
    text-align: center;
    bottom:0 ;
    border-top: 1px solid black;
    width: 100%;
}
// images in the about
.about-image-container{
    max-height: 30vh;
    overflow: hidden;
}
// move the image position
.about-image-container img {
    object-position:0 -190px;
}
.animation-flex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}



// show and hide classes
.show-content{
    display: block;
}
.show-component{
    display: block;
    animation: slideInFromBottom 1s ease-in-out;
}

.hide-component{
    display: none;
}

.hide{
    display: none;
}

.hide-initial-content{
    display: none;
}
.display-status-kits{
    display: block;
}
.hide-status-kits{
    display: none;
}

