.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    
    
}
.about-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.initial-content{
    height: 50vh;
}
.status-component{
    display: none;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 70vh;
}

.inside-content{
    height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.show-component{
    height: 50vh;
    
}

// images in the about
.about-image-container{
    max-height: 30vh;
    overflow: hidden;
    z-index: 3;
    
}
// move the image position
.about-image-container img {
    object-position:0 -190px;
}
.animation-flex{
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 3;

    
}
.fill-content{
    height: 50vh;
}



// show and hide classes
.show-content{
    display: block;
}
.show-component{
    display: block;
    animation: slideInFromBottom 1s ease-in-out;
    overflow: auto;
}

.hide-component{
    display: none;
}

.hide{
    display: none;
}

.hide-initial-content{
    display: none;
}
.display-status-kits{
    display: block;
}
.hide-status-kits{
    display: none;
}


@media screen and (min-width:500px ){
    .about,
    .about-container,
    .gradient-background{
        width: 375px;
        height: 812px;
    }
    .about{
        overflow: hidden;
    }
    .about-image-container{
        max-height: unset;
        overflow: unset;
        
        
    }
    

    .about-image-container img{
        width: 200px;
        object-position: unset;
    }
    .about-container{
        justify-content: flex-start;
    }
    .status-component,
    .initial-content,
    .inside-content,
    .show-component,
    .fill-content{
        height: 500px;
    }
    .about-content{
        padding: 20px;
    }
}