body {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.sky {
    position: absolute;
    width: 2400px;
    height: 200px;
    top: 0;
    right: 0; /* 初始位置在容器的右侧 */
    
    animation: move 60s linear infinite;
    
}

.container {
    position: relative;
    height: 200px;
    overflow: hidden;
    
   
    
}

@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: -1200px;
    }
}
